<h2 class="page-heading">Shipping</h2>
<div class="content-inner">

  <form class="form">
    <fieldset class="form-group">
      <h3 class="form-group-heading">Shipping from</h3>
      <div class="form-row">
        <h4>Store name</h4>
        <p>72 Blackwood Crescent
          <br> Sometown, NSW, 2481
          <br> Australia
        </p>
        <p>
          <a>Change address</a>
        </p>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <h3 class="form-group-heading">Shipping settings</h3>
      <div class="form-row checkbox">
        <label>
          <div class="fk-checkbox">
            <input type="checkbox" value="remember-me">
            <i class="checked fas fa-check-square"></i>
            <i class="unchecked fal fa-square"></i>
          </div> Use product quantities to calculate shipping
        </label>
      </div>
      <div class="form-row has-toggle-controls">
        <div class="control-buttons">
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="inline-label">
              <label>Free Shipping</label>
            </div>
          </div>
          <div class="col-md-3">
            <select class="form-control">
              <option>1-2 days</option>
              <option selected>2-7 days</option>
              <option>5-10 days</option>
              <option>10-14 days</option>
              <option>14-21 days</option>
            </select>
          </div>
          <div class="col-md-3">
            <div class="input-group has-prefix">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-dollar-sign"></i>
                </span>
              </div>
              <input class="form-control" type="text" value="0.00" disabled>
            </div>
          </div>
          <div class="col-md-3">
            <div class="inline-label-group">
              <span>for at least</span>
              <input class="form-control" type="text" value="1">
              <span>item/s</span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row has-toggle-controls">
        <div class="control-buttons">
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider"></span>
          </label>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="inline-label">
              <label>Standard Shipping</label>
            </div>
          </div>
          <div class="col-md-3">
            <select class="form-control">
              <option>1-2 days</option>
              <option selected>2-7 days</option>
              <option>5-10 days</option>
              <option>10-14 days</option>
              <option>14-21 days</option>
            </select>
          </div>
          <div class="col-md-3">
            <div class="input-group has-prefix">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-dollar-sign"></i>
                </span>
              </div>
              <input class="form-control" type="text" placeholder="0.00">
            </div>
          </div>
          <div class="col-md-3">
            <div class="inline-label-group">
              <span>for every</span>
              <input class="form-control" type="text" value="1">
              <span>item/s</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row has-toggle-controls">
        <div class="control-buttons">
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="inline-label">
              <label>Express Shipping</label>
            </div>
          </div>
          <div class="col-md-3">
            <select class="form-control">
              <option selected>1-2 days</option>
              <option>2-7 days</option>
              <option>5-10 days</option>
              <option>10-14 days</option>
              <option>14-21 days</option>
            </select>
          </div>
          <div class="col-md-3">
            <div class="input-group has-prefix">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-dollar-sign"></i>
                </span>
              </div>
              <input class="form-control" type="text" placeholder="0.00">
            </div>
          </div>
          <div class="col-md-3">
            <div class="inline-label-group">
              <span>for every</span>
              <input class="form-control" type="text" value="1">
              <span>item/s</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row has-toggle-controls">
        <div class="control-buttons">
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="inline-label">
              <label>Courier Shipping</label>
            </div>
          </div>
          <div class="col-md-3">
            <select class="form-control">
              <option selected>1-2 days</option>
              <option>2-7 days</option>
              <option>5-10 days</option>
              <option>10-14 days</option>
              <option>14-21 days</option>
            </select>
          </div>
          <div class="col-md-3">
            <div class="input-group has-prefix">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="far fa-dollar-sign"></i>
                </span>
              </div>
              <input class="form-control" type="text" placeholder="0.00">
            </div>
          </div>
          <div class="col-md-3">
            <div class="inline-label-group">
              <span>for every</span>
              <input class="form-control" type="text" value="1">
              <span>item/s</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row has-toggle-controls">
        <div class="row">
          <div class="col-md-3">
            <div class="inline-label">
              <label>Shipping Information</label>
            </div>
          </div>
          <div class="col-md-9">
            <input type="text" class="form-control" placeholder="e.g. Made to order - please allow 5 days for item to dispatch...">
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-actions centered">
      <button type="submit" class="btn btn-save">
        <i class="far fa-check"></i> Save</button>
    </div>
  </form>

</div>