@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/forms";

.product-list {
  padding-top: 80px;
  padding-bottom: 80px;
  h2 {
    @include filson-bold;
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 1.3;
  }
  h3 {
    @include small;
    @include spaced;
    font-size: 13px;
    margin-bottom: 10px;
    @include filson-medium;
  }
}