<div class="shipping-options">
  <div class="row small-gap">
    <div class="col-md-6">
      <div class="input-group has-prefix">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-truck"></i>
          </span>
        </div>
        <select class="form-control">
          <option>{{shippingType}} ~ 2&ndash;7 days</option>
          <option>$15.00 ~ Express shipping ~ 1&ndash;3 days</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Add a note for this shipment...">
    </div>
  </div>
</div>