<div class="container-fluid breadcrumbs">
  <div class="container">
    <ul>
      <li>
        <a href="#">
          <i class="fas fa-home fa-1x"></i>
        </a>
      </li>
      <li>
        <a href="#">Breadcrumb</a>
      </li>
      <li>
        <a href="#">Trail</a>
      </li>
      <li>
        <a href="#">To</a>
      </li>
      <li>
        <a href="#">Current Page</a>
      </li>
    </ul>
    <div class="share">
      <button>
        <i class="fas fa-paper-plane fa-1x"></i>
        <span>Share</span>
      </button>
    </div>
  </div>
</div>