<app-form-messages></app-form-messages>
<div class="container-fluid login">
  <div class="container">
    <form class="form" (ngSubmit)="loginForm.valid && login()" #loginForm="ngForm" novalidate>
      <div class="form-group">
        <h3 class="form-group-heading">Please log in</h3>
        <div class="form-row required">
          <label for="inputEmail">Your Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus name="username" #username="ngModel" [(ngModel)]="model.username">
          <div [hidden]="username.valid" class="alert alert-danger">
            Email is required {{username.errors}}
            </div>
        </div>
        <div class="form-row required">
          <label for="inputPassword">Your Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"  [(ngModel)]="model.password" required #name="ngModel">
        </div>
        <div class="form-row checkbox">
          <label class="float-left">
            <div class="fk-checkbox">
              <input type="checkbox" value="remember-me">
                  <i class="checked fas fa-check-square"></i>
                  <i class="unchecked fal fa-square"></i>
            </div> Remember me
          </label>
          <a class="forgot-password float-right" (click)="display=!display">Forgot your password?</a>
        </div>
        <div class="form-row authorising" [hidden]="!responseAvailable" (click)="acknowledgeMessage()">
          <i class="far {{icon}}" [hidden]="!authenticating"></i>
          {{message}}
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit" >Log in
          <i class="far fa-sign-in icon-right"></i>
        </button>
      </div>
    </form>
</div>
</div>
<app-fk-dialog header="{{header}}" [(visible)]="display" [width]="600" [height]="500">
  <app-forgot-password (completed)="display=false" *ngIf="showForgotPassword"></app-forgot-password>
  <app-confirm-email *ngIf="showConfirmEmail" (completed)="display=false" [token]="token" [userId]="user.userID" [emailAddress]="emailAddress"></app-confirm-email>
  <app-reset-password *ngIf="showPasswordReset" (completed)="display=false" [userId]="0" [key]="key" [requiresOld]="false"></app-reset-password>
</app-fk-dialog>
