@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixins";
.badge-contents {
  line-height: 36px;
  margin-right: 20px;
  position: relative;
  padding-right: 0;
  font-size: 18px;
  cursor: pointer;
  @include ease;
  &:focus,
  &:active {
    outline: none;
  }
  .badge {
    margin-left: 2px;
    background: $rust !important;
    position: relative;
    top: -3px;
  }
}

@include mobile {
  .badge-contents {
    margin-right: 0;
    margin-left: 15px;
    .badge {
      display: none;
    }
  }
}


