<!-- CHANGE PASSWORD MODAL -->
<!-- password Form-->
<form class="form" #passwordForm="ngForm">
  <fieldset class="form-group">
    <div class="form-row" *ngIf="saved">
      <label>
        <a href="/login">login</a>
      </label>
    </div>
    <div class="form-row">
      <label>Your Email Address
      </label>
      <input type="email" required name="emailAddress" [(ngModel)]="emailAddress" email class="form-control"> </div>
    <div class="form-row" *ngIf="requiresOld">
      <label>Your Current Password
        <!-- <a class="float-right" href="#">Forgot your password?</a> -->
      </label>
      <input type="password" required [(ngModel)]="oldPassword" name="password" class="form-control"> </div>
    <div class="form-row">
      <label>Choose a New Password</label>
      <input type="password" required [(ngModel)]="newPassword" name="newPassword" class="form-control" /> </div>
    <div class="form-row">
      <label>Confirm Password</label>
      <input type="password" [(ngModel)]="newPassword_confirmation" required name="newPassword_confirmation" class="form-control"
      /> </div>
  </fieldset>
  <app-form-save [isValid]="passwordForm.valid" [btnLabel]="buttonLabel" (saveTrigger)="save($event)"></app-form-save>
</form>
