<form class="form">
    <fieldset class="form-group">
      <h3 class="form-group-heading">Customer information</h3>
      <div class="form-row">

        <div class="row">
          <div class="col-md-6">
            <h4>Shipping Address</h4>
            <p>
              <strong>Someones Name</strong>
            </p>
            <p>72 Balls In Your Ct.
              <br> Sometown, NSW, 2481
              <br> Australia
              <br> 0411776988
              <br>
              <a>someone@something.com</a>
            </p>
          </div>
          <div class="col-md-6">
            <h4>Billing Address</h4>
            <p>
              <strong>Someones Name</strong>
            </p>
            <p>72 Balls In Your Ct.
              <br> Sometown, NSW, 2481
              <br> Australia
              <br> 0411776988
              <br>
              <a>someone@something.com</a>
            </p>
          </div>
        </div>


      </div>



      <div class="cart-item">
        <div class="product-image">
          <div class="image-wrap">
            <img src="https://cdn.shopify.com/s/files/1/1193/9534/products/STWOEC-OR_1024x1024.jpg?v=1504750777">
          </div>
        </div>
        <div class="product-info">
          <h3>Product Name</h3>
          <div class="variant">
            <label>SKU:
              <span>EAGPWT-T</span>
            </label>
          </div>
          <div class="variant">
            <label>Size:
              <span>M</span>
            </label>
          </div>
          <div class="variant">
            <label>Colour:
              <span>Red</span>
            </label>
          </div>
        </div>
        <div class="product-actions">
          <div class="quantity">2 x</div>
          <div class="product-price">$65.00</div>
        </div>
      </div>
      <div class="cart-item">
        <div class="product-image">
          <div class="image-wrap">
            <img src="assets/images/placeholders/product-3.jpg">
          </div>
        </div>
        <div class="product-info">
          <h3>Product Name</h3>
          <div class="variant">
            <label>SKU:
              <span>EAGPWT-L</span>
            </label>
          </div>
        </div>
        <div class="product-actions">
          <div class="quantity">1 x</div>
          <div class="product-price">$65.00</div>
        </div>
      </div>
    </fieldset>
  </form>
