@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/forms";

.cart-item {
  padding: 20px 260px 20px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.03);
  position: relative;
  @include flex-center;
  h3 {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.4;
    @include filson-medium;
    @include ease-fast;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    &:last-child {
      margin: 0;
    }
  }
  .product-image {
    width: 100px;
    min-width: 100px;
    margin-right: 30px;
    @include shadow;
    cursor: pointer;
  }
  .product-info {
    h3 {
      em {
        @include filson-light;
        font-style: normal;
      }
    }
    .variant {
      label {
        @include filson-light;
        font-size: 14px;
        line-height: 1.5;
        span {
          @include filson-book;
          //@include underline-hover;
        }
      }
      &:last-of-type {
        label {
          margin: 0;
        }
      }
    }
  }
  .product-actions {
    @include flex-center;
    position: absolute;
    top: 0;
    right: 20px;
    height: 100%;
    .input-group input {
      border-color: rgba(0,0,0,0.08);
      height: 34px;
      line-height: 34px;
    }
    .product-price {
      display: inline-block;
      white-space: nowrap;
      padding: 0 25px;
      text-align: center;
      @include filson-medium;
      font-size: 15px;
    }
    .remove {
      font-size: 16px;
      width: 34px;
      min-width: 34px;
      display: block;
      height: 34px;
      background: $medium-grey;
      color: $white;
      cursor: pointer;
      @include flex-center;
      @include flex-justify;
      @include border-radius(50%);
      @include ease-fast;
      &:hover {
        background: $red;
        color: $white;
      }
    }
    .quantity {
      @include filson-medium;
      font-size: 15px;
    }
  }
}