<div class="container-fluid newsletter">
  <div class="circular">
    <div>
      <h2>hello...
        <br>want to stay up to date?</h2>
      <form action="https://thefinderskeepers.createsend.com/t/y/s/gphiu/" method="post" id="subForm">
        <p>
          <input id="fieldEmail" name="cm-gphiu-gphiu" type="email" required placeholder="Put your email address here..." />
        </p>
        <p>
          <button type="submit" class="btn btn-light btn-large">Sign up</button>
        </p>
      </form>
    </div>
  </div>
  <div class="caption">
    <i class="fal fa-camera-alt fa-2x"></i>
    <a href="/sydney-markets/">Organic Soaps</a> by
    <a href="/sydney-markets/">Raw Suds</a>
  </div>
  <div class="background-image" style="background-image:url('assets/images/placeholders/newsletter-image.jpg')">
    <img src="assets/images/placeholders/newsletter-image.jpg">
  </div>
</div>
<div class="container-fluid instagram">
  <div class="container">
    <h2>follow, share, shop
      <em>with @finderskeepersonline</em>
    </h2>
    <div class="instagram-feed">
      <script async src="//lightwidget.com/widgets/lightwidget.js"></script>
      <iframe src="//lightwidget.com/widgets/f684c5b3fe8f5bf6bd4a0b63d6f49817.html" scrolling="no" allowtransparency="true" class="lightwidget-widget"
        style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
    <ul class="social-media">
      <li>#thefinderskeepers</li>
      <li>
        <a href="http://www.facebook.com/pages/Finders-Keepers/24001310851" target="_blank">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/_finderskeepers" target="_blank">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="http://instagram.com/finders_keepers" target="_blank">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      </li>
      <li>
        <a href="http://pinterest.com/thefinderskeeps" target="_blank">
          <i class="fab fa-pinterest-p fa-lg"></i>
        </a>
      </li>
      <li>#finderskeepersonline</li>
    </ul>
  </div>
</div>