<div class="cart-item">
  <div class="product-image">
    <div class="image-wrap">
      <img src="https://s3-ap-southeast-2.amazonaws.com/markets.thefinderskeepers.com/profile-images/LPJ3cVIK2xdgculGSXuTg37NuehIF2Wn33DdSkgE.jpeg">
    </div>
  </div>
  <div class="product-info">
    <h3>Mad Maggot Oil Pourer</h3>

    <div class="variant">
      <label>Colour:
        <span>Green</span>
      </label>
    </div>
    <div class="shipping-note">
      <i class="fas fa-asterisk"></i> Made to order. Please allow 3-4 days to dispatch.</div>
  </div>
  <div class="product-actions">
    <div class="input-group plus-minus-input">
      <input id="quantity" class="select-on-focus" name="quantity" value="1" size="2">
    </div>
    <div class="product-price">$65.00 AUD</div>
    <button class="remove non-button">
      <span class="hidden">Remove</span>
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>